.idea
.vscode
__pycache__
data
build
dist
scarf.egg-info
scarf_toolkit.egg-info
dask-worker-space
*.ipynb_checkpoints
*.ipynb
docs/source/vignettes/README.md
docs/source/vignettes/scarf_datasets
docs/source/vignettes/*.txt
docs/source/vignettes/*.mtx
