.idea
.vscode
__pycache__
build
dist
scarf.egg-info
scarf_toolkit.egg-info
dask-worker-space
*.ipynb_checkpoints
*.ipynb
docs/source/vignettes/README.md
docs/source/vignettes/scarf_datasets
docs/source/vignettes/dev
docs/source/vignettes/*.txt
docs/source/vignettes/*.mtx
docs/jupyter_execute
.coverage
.pytest_cache
interrogate_badge.svg
scarf/tests/datasets/*
test_data
.mypy_cache