recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
exclude .gitignore
exclude .gitattribute
exclude .readthedocs.yml
exclude Dockerfile
prune scarf_toolkit.egg-info
prune docs
prune scarf/tests
prune .circleci
prune .github
include requirements.txt
include requirements_extra.txt
include VERSION
include pypi_README.rst
graft bin
