# Core dependencies
numpy>=2.0.1
pandas
scipy
scikit-learn
statsmodels
networkx
threadpoolctl
joblib
numba
hnswlib
zarr
h5py>=3.3.0
leidenalg
umap-learn
scikit-network
tqdm
loguru
packaging
importlib_metadata

# Extra dependencies
requests
gensim
kneed
matplotlib
seaborn
cmocean
datashader
ipython-autotime
ipywidgets
