logzero~=1.5.0
holoviews
cmocean~=2.0
datashader
gensim
sparse~=0.7.0
networkx
pcst_fast
hnswlib
numpy~=1.17.2
numba
dask~=2.17.0
pandas~=1.0.3
zarr~=2.3.2
h5py
numcodecs
umap-learn
scikit-learn
scikit-network
scipy~=1.4.1
statsmodels
seaborn~=0.9.0
tqdm~=4.32.2
matplotlib~=3.2.2
EoN
threadpoolctl~=2.1.0
pybedtools
setuptools~=49.2.0
leidenalg
python-igraph
