jinja2
myst-parser
myst-nb
sphinx
sphinx_autodoc_typehints
sphinx-book-theme
sphinx-copybutton
sphinx-external-toc
sphinx-tabs
jupytext
jupyterlab
jupyterlab-spellchecker
ipython
ipykernel
ipython-autotime
topacedo
