jinja2
jedi>=0.17.0
myst-parser>=0.13.7
myst-nb>=0.12.3
sphinx>=3.5.4
sphinx_autodoc_typehints>=1.10.1
sphinx-book-theme>=0.0.35
sphinx-copybutton>=0.2.12
sphinx-external-toc>=0.2.1
sphinx-tabs>=0.3.1
ipython-autotime>=0.3.1
topacedo>=0.2.6
nbclient<0.6

