pip
sphinx
nbsphinx
sphinx_autodoc_typehints
ipython
sphinx_rtd_theme
jupytext
ipykernel
ipython-autotime
topacedo
sphinx-book-theme
jinja2~=2.11
myst_parser
sphinx_external_toc
sphinx-copybutton
sphinx-tabs
