.wy-nav-content {
    max-width: 900px !important;
}
h1 {
    color: #003B71 !important;
    font-size: 1.75em
}
h2 {
    font-size: 1.45em
}
h3 {
    font-size: 1.2em
}
h4 {
    font-size: 1em
}
h5 {
    font-size: 1em
}
h6 {
    font-size: 1em
}
p {
    font-size: 1em
}
